@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');


body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E7F6FF;
}

* {
  font-family: 'Inter', sans-serif;
}

.wrapper {
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;

}

header {
  border-bottom: 1px solid #EAEAEA;
}

.header {
  padding: 40px;

  &__logo {
    margin-right: 15px;
  }

  &Right {
    display: flex;
    align-items: center;

    span {
      display: block;
    }

    li {
      display: flex;
      align-items: center;
    }
  }
}

.card {
  background: #FFFFFF;
  border: 1px solid #F3F3F3;
  border-radius: 40px;
  padding: 30px;
  max-width: 210px;
  margin-right: 30px;
  transition: all .2s;

  &:hover {
    box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
    transform: translateY(-5px);
  }

  span {
    font-size: 13px;
    opacity: .5;
    text-transform: uppercase;

  }

  b {
    font-size: 13px;
  }

  h4 {
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    width: 220px;
  }
}

.favorite {
  position: absolute;
  cursor: pointer;
}

.button {
  width: 32px;
  height: 32px;
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  border-radius: 8px;
  cursor: pointer;

  img {
    margin: auto;
    display: block;
  }
}

.search-block {
  border: 1px solid #F3F3F3;
  border-radius: 10px;
  padding: 0 13px;

  input {
    border: none;
    padding: 10px;
    outline: none;
    font-size: 16px;
    max-width: 200px;
  }
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.drawer {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 420px;
  height: 100%;
  right: 0;
  background: #FFFFFF;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;

  .items {
    overflow: auto;
    margin-bottom: 40px;
    flex: 1;
  }

  h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #000000;

    img{
      cursor: pointer;
    }
  }
}

.cartTotalBlock {
  ul {
    margin-bottom: 40px;
  }

  li {
    display: flex;
    align-items: flex-end;
    margin-bottom: 30px;
  }

  div {
    flex: 1;
    height: 1px;
    border-bottom: 1px dashed #DFDFDF;
    position: relative;
    top: -5px;
    margin: 0 7px;
  }
  .greenButton{
    position: relative;
    &:hover{
      img{
        transform: translateX(5px);
      }
    }
  
    img{
      position: absolute;
      right: 30px;
      top:20px;
      transition: all .2s linear;
         }
  }


}

.greenButton {
  width: 100%;
  height: 55px;
  background: #9DD558;
  border-radius: 18px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  border: transparent;
  cursor: pointer;
  transition: all .2s ease-in-out;
  display: block;
  img{
    display: inline-block;
  }
 

  &:hover {
    background: lighten(#9DD558, 5%);
  }

  &:active {
    background: darken(#9DD558, 7%);
  }

}

.cartItem {
  border: 1px solid #F3F3F3;
  border-radius: 20px;
  overflow: hidden;
  padding: 23px 20px;


  p {
    font-size: 16px;
  }

  b {
    font-size: 14px;
  }

  .removeBtn {
    opacity: .5;
    cursor: pointer;
    transition: all .15s ease-in-out;

    &:hover {
      opacity: 1;
    }

  }
}